* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #1f1f1f;
  padding: 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-container p {
  color: #fbba07;
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #fbba07;
}

.hero {
  background: linear-gradient(
    141deg,
    rgba(150, 158, 136, 1) 0%,
    rgba(246, 186, 11, 1) 50%,
    rgba(139, 177, 49, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 30px;
  line-height: 1.6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero p {
  font-size: 16px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.articles {
  display: flex;
  padding: 30px;
  gap: 20px;
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

article {
  background-color: #1f1f1f;
  display: flex;
  gap: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
}

article div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

article h3 {
  color: #4184f4;
  font-size: 20px;
  margin-bottom: 10px;
}

article img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.author {
  color: #d4cfcf;
  font-size: 14px;
  margin-top: 10px;
}

aside {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #f1f1f1;
}

aside h3 {
  color: #fbba07;
  font-size: 20px;
  margin-bottom: 10px;
}

aside img {
  width: 100%;
  max-width: 70px;
  aspect-ratio: 3/2;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-picks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.top-picks li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-picks li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-picks li a {
  font-size: 14px;
  color: #d4cfcf;
  text-decoration: none;
}

.top-picks li a:hover {
  color: #fbba07;
}

footer {
  background-color: #1f1f1f;
  padding: 20px;
}

.footer-container {
  display: flex;
  padding: 10px;
}

.footer-container div {
  text-align: center;
  flex: 1;
  padding: 10px;
  color: #d4cfcf;
  font-size: 14px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.footer-container div h4 {
  color: #fbba07;
  font-size: 16px;
  margin-bottom: 10px;
}

.copyright {
  text-align: center;
  color: #d4cfcf;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .logo-container img {
    display: none;
  }

  nav {
    flex-direction: column;
  }

  .nav-links {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .articles {
    flex-direction: column;
  }

  article {
    flex-direction: column;
    align-items: center;
  }

  article img {
    max-width: 100%;
  }

  .footer-container {
    flex-direction: column;
  }
}
